<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta content="no-cache"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
<section id="topnav">
    <%= require('html-loader!../partials/topnav.ejs') %>
</section>

<section class="container">
    <div class="col-sm-8">
        <h1>Vælg en forespørgsel</h1>
        <form id="queries" class="form-horizontal">
            <div class="form-group">
                <input type="radio" id="callback" value="callback" checked name="action">
                <label for="callback">ajax Callback</label>
            </div>
            <div class="form-group">
                <input type="radio" id="cdalbum" value="cdalbum" name="action">
                <label for="callback">CD Album</label>
            </div>
            <div class="form-group">
                <input type="radio" id="fetchJson" value="fetch" name="action">
                <label for="callback">Fetch JSON</label>
            </div>
            <div class="form-group">
                <input type="submit" id="cmdButton" class="btn btn-primary btn-sm" value="Udfør forespørgsel">
            </div>
        </form>
    </div>
</section>

<!--
<section class="container">
    <div  id="ajaxComponent" class="col-sm-8">
        <ajax-component></ajax-component>
    </div>
    <p>&nbsp;</p>
</section>
-->
<section class="container">
    <div id="ajaxSection" class="col-sm-8">
        <ajax-callback></ajax-callback>
    </div>
    <p>&nbsp;</p>
</section>
<!--
<section class="container">
    <div id="cdSection" class="col-sm-8">
        <cd-album></cd-album>
    </div>
    <p>&nbsp;</p>
</section>
-->
<p>&nbsp;</p>
</body>
</html>
