#swapiSection {
  display: block;
  margin: auto;
  border: 1px solid #d5d5d5;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
}

th, td {
  padding: 5px;
}
