<nav class="navbar navbar-expand-md bg-light navbar-light">

  <!-- Brand and toggle get grouped for better mobile display -->

  <a class="navbar-brand" href="/#">Frontend</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul id="navbar" class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Iterators</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Handlebars</a>
        <div class="dropdown-menu">
          <a href="/eksperimenter/handlebars-01.html" class="dropdown-item">Eksempel 1</a>
          <a href="/eksperimenter/handlebars-02.html" class="dropdown-item">Eksempel 2</a>
          <a href="/eksperimenter/handlebars-03.html" class="dropdown-item">Eksempel 3</a>
          <div class="dropdown-divider"></div>
          <a href="/eksperimenter/handlebars-04.html" class="dropdown-item">Eksempel 4</a>
          <a href="/eksperimenter/handlebars-05.html" class="dropdown-item">Eksempel 5</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Map Object</a></li>
      <li class="nav-item"><a class="nav-link" href="#">XMLHttp</a></li>
      <li class="nav-item"><a class="nav-link" href="#">ReadFiles</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Route Events</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Promise</a></li>
      <li class="nav-item"><a class="nav-link" href="#">xmldemo</a></li>
      <li class="nav-item"><a class="nav-link" href="#">LocalStorage</a></li>
    </ul>
  </div>
</nav>
