<nav class="navbar navbar-expand-md bg-light navbar-light">

  <!-- Brand and toggle get grouped for better mobile display -->

  <a class="navbar-brand" href="/#">Frontend</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul id="navbar" class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/bookstore.html">Bookstore</a></li>
      <li class="nav-item"><a class="nav-link" href="/geoloc.html">Geoloc</a></li>
      <li class="nav-item"><a class="nav-link" href="#">ReadFiles</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Route Events</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Promise</a></li>
      <li class="nav-item"><a class="nav-link" href="#">xmldemo</a></li>
      <li class="nav-item"><a class="nav-link" href="#">LocalStorage</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
        <div class="dropdown-menu">
          <a href="/bookstore.html" class="dropdown-item">Bookstore</a>
          <a href="/geoloc.html" class="dropdown-item">Geoloc</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
