@import url(https://fonts.googleapis.com/css?family=Nunito);


:root {
  --font-family-sans-serif: "Nunito", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --jb-cyan: #00b7ff;
  --jb-light: #f8f9fa;
  --jb-dark: #343a40;
}
*,
*::before,
*::after {
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  color: var(--jb-dark);
  background-color: var(--jb-light);
  background-image: url(../assets/images/bg_tile.jpg);
}

a {
  color: var(--jb-cyan);
  text-decoration: none;
}

th, td {
  padding: 5px;
}
