<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
<div id="wrapper">
  <header id="header">
    <h1 id="data">Hovsa</h1>
  </header>
  <section id="includedMenu">
    <%= require('html-loader!../partials/menu.html') %>
  </section>
  <section id="includedWidget">
    <%= require('html-loader!../partials/defaultWidget.html') %>
  </section>
  <main class="rounded shadow">
    <%= require('html-loader!../partials/index-main.html') %>
  </main>
</div>

</body>
</html>
